<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFilterService" />

                <binding name="BasicHttpBinding_IStockService" allowCookies="true"
                       maxReceivedMessageSize="90000000" 
                       maxBufferSize="90000000"
                       maxBufferPoolSize="90000000">
                        <readerQuotas maxDepth="32" 
                       maxArrayLength="900000000"
                       maxStringContentLength="900000000"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64978/FilterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFilterService"
                contract="WCFFilterService.IFilterService" name="BasicHttpBinding_IFilterService" />
            <endpoint address="http://localhost:64978/StockService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStockService" contract="WCFStockService.IStockService"
                name="BasicHttpBinding_IStockService" />
        </client>
    </system.serviceModel>
</configuration>