<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockService" />
                <binding name="BasicHttpBinding_IFilterService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64978/StockService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStockService" contract="WCFStockService.IStockService"
                name="BasicHttpBinding_IStockService" />
            <endpoint address="http://localhost:64978/FilterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFilterService"
                contract="WCFFilterService.IFilterService" name="BasicHttpBinding_IFilterService" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="MBM.DL.WCFService">
                <endpoint address="" binding="basicHttpBinding" contract="MBM.DL.IWCFService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/MBM.DL/WCFService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
